@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.App {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

.button {
	display: inline-flex;
	padding: 8px 16px;
	background-color: black;
	color: white;
	transition: all 0.2s ease;
	border-radius: 5px;
}
.button:hover {
	opacity: 0.8;
}
.button:focus-visible {
	opacity: 0.8;
}
.home {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.home__title {
	font-size: 32px;
	font-weight: 700;
	text-align: center;
}

.form-configurator {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.form-configurator__title {
	font-size: 32px;
	font-weight: 700;
	text-align: center;
}

.form-configurator__form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.form-configurator__label {
	display: flex;
	align-items: center;
	gap: 20px;
}
.form-configurator__label > span {
	width: 120px;
}

.form-configurator__input {
	padding: 5px 10px;
	border-radius: 4px;
	border: 1px solid black;
}

.form-builder {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.form-builder__section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
